@import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #000000;
    color: #f9f9f9;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #5c5757;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display:block;
}

#filtro {
    margin-top: 80px;
}

label {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
    padding-top: 10px;
    color: grey;
}

@media (max-width: 615px){
    .dropbtn {
        margin-right: 180px;
        margin-top: 15px;
    }
    label {
        margin-top: 15px;
        margin-left: 25%;
    }
}
