.navbar {
    z-index:4;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    margin-bottom: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky + .content {
    padding-top: 60px;
}